@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-water: #1d506e;
    --color-green1: #555c45;
    --color-green2: #828c51;
    --color-green3: #a6b96f;
    --color-green4: #bed69e;
    --color-back: #e8e1cf;
    --color-gween: #b4e685; 
    --color-wellow: #fff694;
    --color-plink: #ff9494;
    --color-plurple: #cab0ff;
    --color-bwue: #7be3c5;
    --font-display: "Neo";
    --font-norm: "Head";
    --font-bold: "Bolded";
}

@font-face {
  font-family: Head;
  font-style: normal;
  font-weight: 700 200;
  font-display: swap;
  src: url("/PixelOperator.ttf") format("truetype");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('/bg.png');
}

.accent {
  color: #ff9494;
}
.accent2 {
  color: #fff694;
}
a:not(.no-underline) {
  color: var(--color-bwue);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
